# Rider / JetBrains workspace settings
.idea/
*.DotSettings.user
# Visual Studio
.vs/
*.csproj.user

# Dependencies
node_modules

# Next.js build artifacts
.next
out
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*

# Deployment
.vercel

# TypeScript incremental build info
*.tsbuildinfo

#Bin and Obj folders
**/bin/
**/obj/

# Beamable Services Stellar Federation Tool
!BeamableServices/services/StellarFederation/Tools/stellar.zip
